
/* Your CSS Code here. */
*{
	margin: 5px;
	padding: 0px;
}
img{
	height: 120px;
	border-radius: 50%;
	float: right;
}
p{
	display:inline;
}
.info{
	background-color: wheat;
	height: 150px;
	padding: 20px;
	border-radius: 5px;
}
.container{
	margin-top: 40px;
}
li{
	list-style: circle;
}